## Trabajo Final - Data Engineering Icaro

En la presente notebook se desarrolla el trabajo final del curso Data Engineering brindado por la fundacion Icaro.
Primero se importan todas la librerías necesarias para el desarrollo del práctico.

In [4]:
import pandas as pd
import requests
from sqlalchemy import create_engine
import psycopg2

Comentamos los paquetes instalados porque son requeridos por una única vez.

In [5]:
#!pip install SQLAlchemy

In [6]:
#!pip install psycopg2

### 1. Parte 1

#### Conexion con la base de datos

In [7]:
def getPostgreConnector(stringConnection= 'postgresql+psycopg2://postgres:postgres@db-test.cq4syw9xqygb.us-east-1.rds.amazonaws.com:5432/postgres'):
  engine = create_engine(stringConnection)
  return engine

In [8]:
# Chequeamos que la conexion funcione

engine = getPostgreConnector()
with engine.connect() as connection:
    result = connection.execute('Select version()')
    print(result.fetchone())

('PostgreSQL 12.5 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-11), 64-bit',)

#### Lectura de la base de datos

Primero seleccionamos todas las bases disponibles en la DataBase original y analizamos algunas medidas de tamano de la base.

In [27]:
df = pd.read_sql('SELECT * FROM Clientes, Ventas, Regiones, Ventas_Productos, Categoria_Producto, Productos', engine)

In [103]:
# DataFrame para la tabla Clientes

df_c = pd.read_sql('SELECT * FROM Clientes', engine)
clientes = pd.DataFrame(df_c) #index=['id_cliente'])

In [128]:
# DataFrame para la tabla Ventas

df_v = pd.read_sql('SELECT * FROM Ventas', engine)
ventas = pd.DataFrame(df_v)

In [82]:
# DataFrame para la tabla Regiones

df_r = pd.read_sql('SELECT * FROM Regiones', engine)
regiones = pd.DataFrame(df_r)

In [83]:
# DataFrame para la tabla Ventas_Productos

df_vp = pd.read_sql('SELECT * FROM Ventas_Productos', engine)
ventas_prod = pd.DataFrame(df_vp)

In [84]:
# DataFrame para la tabla Categoria Productos

df_cp = pd.read_sql('SELECT * FROM Categoria_Producto', engine)
cat_prod = pd.DataFrame(df_cp)

In [121]:
# DataFrame para la tabla Productos

df_p = pd.read_sql('SELECT * FROM Productos', engine)
prod = pd.DataFrame(df_p)

In [66]:
len(df_r)*len(df_cp)*len(df_p)*len(df_vp)*len(df_v)*len(df_c)

2700000

In [45]:
df.tail()

,id_cliente,nombre,apellido,fecha_de_alta,id_region,id_venta,id_cliente,fecha_de_venta,id_region,region,id_venta,id_producto,id_categoria_producto,nombre_categoria,id_producto,nombre_producto,precio,id_categoria_producto
2699995,5,Paula,Herrera,2018-11-09,2,100,5,2020-11-29,1,Norte,100,9,2,Computacion,9,Cocina Electrolux,150,3
2699996,5,Paula,Herrera,2018-11-09,2,100,5,2020-11-29,1,Norte,100,9,3,Hogar,9,Cocina Electrolux,150,3
2699997,5,Paula,Herrera,2018-11-09,2,100,5,2020-11-29,2,Sur,100,9,1,Smartphone,9,Cocina Electrolux,150,3
2699998,5,Paula,Herrera,2018-11-09,2,100,5,2020-11-29,2,Sur,100,9,2,Computacion,9,Cocina Electrolux,150,3
2699999,5,Paula,Herrera,2018-11-09,2,100,5,2020-11-29,2,Sur,100,9,3,Hogar,9,Cocina Electrolux,150,3

In [11]:
df.shape

(2700000, 18)

In [12]:
df.columns

Index(['id_cliente', 'nombre', 'apellido', 'fecha_de_alta', 'id_region',
       'id_venta', 'id_cliente', 'fecha_de_venta', 'id_region', 'region',
       'id_venta', 'id_producto', 'id_categoria_producto', 'nombre_categoria',
       'id_producto', 'nombre_producto', 'precio', 'id_categoria_producto'],
      dtype='object')

In [42]:
df.describe()

,id_cliente,id_region,id_venta,id_cliente,id_region,id_venta,id_producto,id_categoria_producto,id_producto,precio,id_categoria_producto
count,2.700000e+06,2.700000e+06,2.700000e+06,2.700000e+06,2700000.0,2.700000e+06,2.700000e+06,2.700000e+06,2.700000e+06,2.700000e+06,2.700000e+06
mean,3.000000e+00,1.600000e+00,5.050000e+01,3.250000e+00,1.5,5.050000e+01,4.570000e+00,2.000000e+00,5.000000e+00,3.622222e+02,1.666667e+00
std,1.414214e+00,4.898980e-01,2.886608e+01,1.194781e+00,0.5,2.886608e+01,2.639148e+00,8.164967e-01,2.581989e+00,3.374670e+02,8.164967e-01
min,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,3.000000e+01,1.000000e+00
25%,2.000000e+00,1.000000e+00,2.575000e+01,3.000000e+00,1.0,2.575000e+01,2.000000e+00,1.000000e+00,3.000000e+00,1.500000e+02,1.000000e+00
50%,3.000000e+00,2.000000e+00,5.050000e+01,3.000000e+00,1.5,5.050000e+01,4.000000e+00,2.000000e+00,5.000000e+00,2.000000e+02,1.000000e+00
75%,4.000000e+00,2.000000e+00,7.525000e+01,4.000000e+00,2.0,7.525000e+01,7.000000e+00,3.000000e+00,7.000000e+00,5.000000e+02,2.000000e+00
max,5.000000e+00,2.000000e+00,1.000000e+02,5.000000e+00,2.0,1.000000e+02,9.000000e+00,3.000000e+00,9.000000e+00,1.000000e+03,3.000000e+00

In [43]:
df.dtypes

id_cliente                int64
nombre                   object
apellido                 object
fecha_de_alta            object
id_region                 int64
id_venta                  int64
id_cliente                int64
fecha_de_venta           object
id_region                 int64
region                   object
id_venta                  int64
id_producto               int64
id_categoria_producto     int64
nombre_categoria         object
id_producto               int64
nombre_producto          object
precio                    int64
id_categoria_producto     int64
dtype: object

In [56]:
df['nombre'].unique()

array(['Juan', 'Nicolas', 'Homero', 'Carlos', 'Paula'], dtype=object)

In [13]:
df_1 = df.to_csv('data.csv')

#### Consultas a la base de datos

Primero se eliminan las columnas id que se repiten, sirvieron de conexion en las tablas y no es necesario contar con duplicados para el análisis posterior.

*'id_cliente', 'id_venta', 'id_producto', 'id_categoria_producto', 'id_region'* son las claves que estan duplicadas y que actuaron como indices para relacionar las bases.

In [47]:
df = df.loc[:,~df.columns.duplicated()]
df.shape

(2700000, 13)

##### 1.1 Cantidad de ventas totales

Se calculan la cantidad de ventas realizadas. Se van a utilizar las funciones unique() que solo rescata la clave unica de cada id y la funcion len() que da el tamano del array.
Se trabaja con la columna *'id_venta'* unicamente.

In [86]:
q_ventas = ventas['id_venta'].unique()
len(q_ventas)

100

##### 1.2 Cantidad de Clientes Totales

In [87]:
q_clientes = q_clientes['id_cliente'].unique()
len(q_clientes)

5

##### 1.3 Cantidad de Clientes por Región

In [122]:
q_cliente_region = clientes.set_index('id_region').join(regiones.set_index('id_region'))

q_cliente_region_1 = q_cliente_region.groupby('region', axis=0).count()
q_cliente_region_1 = pd.DataFrame(q_cliente_region_1['id_cliente']).reset_index()
q_cliente_region_1.sort_values(by=['id_cliente'], axis=0, ascending=False)

  region  id_cliente
1    Sur           3
0  Norte           2

##### 1.4 Cantidad de Productos por Categoria

In [119]:
q_productos_categoria = prod.set_index('id_categoria_producto').join(cat_prod.set_index('id_categoria_producto'))

q_productos_categoria = q_productos_categoria.groupby('nombre_categoria', axis=0).count()
q_productos_categoria = pd.DataFrame(q_productos_categoria['id_producto']).reset_index()
q_productos_categoria.sort_values(by=['id_producto'], axis=0, ascending=False)

  nombre_categoria  id_producto
2       Smartphone            5
0      Computacion            2
1            Hogar            2

##### 1.5 Cantidad de Ventas por Region

In [132]:
q_ventas_region = q_cliente_region.set_index('id_cliente').join(ventas.set_index('id_cliente'))

q_ventas_region_1 = q_ventas_region.groupby('region', axis=0).count()
q_ventas_region_1 = pd.DataFrame(q_ventas_region_1['id_venta']).reset_index()
q_ventas_region_1.sort_values(by=['id_venta'], axis=0, ascending=False)

  region  id_venta
1    Sur        83
0  Norte        17

##### 1.6 Producto más vendido en cada región

In [153]:
p_ventas_region = q_ventas_region.set_index('id_venta').join(ventas_prod.set_index('id_venta'))

p_ventas_region_1 = p_ventas_region.join(prod.set_index('id_producto'), on='id_producto')

p_ventas_region_2 = p_ventas_region_1.groupby(['region','nombre_producto'], axis=0).count()
p_ventas_region_2 = pd.DataFrame(p_ventas_region_2['id_producto'])
p_ventas_region_2.sort_values(by=['region', 'id_producto'], axis=0, ascending=False)

                                  id_producto
region nombre_producto
Sur    Iphone X                            15
       Moto G9                             13
       Monito 27"                          12
       Samsung S20                         11
       Cocina Electrolux                    9
       Iphone 7                             8
       Moto E9                              8
       Lavarropas Drean Next Eco            5
       RAM 8GB                              2
Norte  Iphone 7                             4
       Moto E9                              4
       Cocina Electrolux                    2
       Lavarropas Drean Next Eco            2
       Moto G9                              2
       RAM 8GB                              2
       Monito 27"                           1

##### 1.7 Cliente con más Productos por Región

In [157]:
p_ventas_region = q_ventas_region.set_index('id_venta').join(ventas_prod.set_index('id_venta'))

p_ventas_region_1 = p_ventas_region.join(prod.set_index('id_producto'), on='id_producto')

p_ventas_region_1['nombre y apellido'] = p_ventas_region_1['apellido'] + ', ' + p_ventas_region_1['nombre']

p_ventas_region_2 = p_ventas_region_1.groupby(['region', 'nombre y apellido','nombre_producto'], axis=0).count()
p_ventas_region_2 = pd.DataFrame(p_ventas_region_2['id_producto'])
p_ventas_region_2.sort_values(by=['region', 'nombre y apellido', 'id_producto'], axis=0, ascending=False)

                                                    id_producto
region nombre y apellido nombre_producto
Sur    Simpson, Homero   Iphone X                             9
                         Monito 27"                           9
                         Samsung S20                          9
                         Moto G9                              7
                         Cocina Electrolux                    5
                         Iphone 7                             5
                         Moto E9                              5
                         Lavarropas Drean Next Eco            2
                         RAM 8GB                              2
       Herrera, Paula    Moto G9                              6
                         Iphone X                             5
                         Cocina Electrolux                    3
                         Iphone 7                             2
                         Monito 27"                           2
                         Moto E9                              2
                         Samsung S20                          2
                         Lavarropas Drean Next Eco            1
       Hernandez, Carlos Lavarropas Drean Next Eco            2
                         Cocina Electrolux                    1
                         Iphone 7                             1
                         Iphone X                             1
                         Monito 27"                           1
                         Moto E9                              1
Norte  Perez, Juan       Iphone 7                             3
                         Moto E9                              2
                         RAM 8GB                              2
                         Cocina Electrolux                    1
                         Lavarropas Drean Next Eco            1
                         Monito 27"                           1
                         Moto G9                              1
       Garcia, Nicolas   Moto E9                              2
                         Cocina Electrolux                    1
                         Iphone 7                             1
                         Lavarropas Drean Next Eco            1
                         Moto G9                              1