## Trabajo Final - Data Engineering Icaro

En la presente notebook se desarrolla el trabajo final del curso Data Engineering brindado por la fundacion Icaro.
Primero se importan todas la librerías necesarias para el desarrollo del práctico.

In [5]:
import pandas as pd
import requests
from sqlalchemy import create_engine
import psycopg2

In [3]:
!pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in c:\users\valen\anaconda3\envs\valentin\lib\site-packages (1.3.20)

In [4]:
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.8.6-cp36-cp36m-win_amd64.whl (1.1 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.8.6

### Parte 1

#### Conexion con la base de datos

In [10]:
def getPostgreConnector(stringConnection= 'postgresql+psycopg2://postgres:postgres@db-test.cq4syw9xqygb.us-east-1.rds.amazonaws.com:5432/postgres'):
  engine = create_engine(stringConnection)
  return engine

In [9]:
# Chequeamos que la conexion funcione

engine = getPostgreConnector()
with engine.connect() as connection:
    result = connection.execute('Select version()')
    print(result.fetchone())

('PostgreSQL 12.5 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-11), 64-bit',)

#### Lectura de la base de datos

Primero seleccionamos todas las bases disponibles en la DataBase original y analizamos algunas medidas de tamano de la base.

In [23]:
df = pd.read_sql('SELECT * FROM Clientes, Ventas, Regiones, Ventas_Productos, Categoria_Producto, Productos', engine)

In [25]:
df.head()

,id_cliente,nombre,apellido,fecha_de_alta,id_region,id_venta,id_cliente,fecha_de_venta,id_region,region,id_venta,id_producto,id_categoria_producto,nombre_categoria,id_producto,nombre_producto,precio,id_categoria_producto
0,1,Juan,Perez,2019-07-12,1,1,1,2020-10-11,1,Norte,1,7,1,Smartphone,1,Iphone X,1000,1
1,1,Juan,Perez,2019-07-12,1,1,1,2020-10-11,1,Norte,1,7,2,Computacion,1,Iphone X,1000,1
2,1,Juan,Perez,2019-07-12,1,1,1,2020-10-11,1,Norte,1,7,3,Hogar,1,Iphone X,1000,1
3,1,Juan,Perez,2019-07-12,1,1,1,2020-10-11,2,Sur,1,7,1,Smartphone,1,Iphone X,1000,1
4,1,Juan,Perez,2019-07-12,1,1,1,2020-10-11,2,Sur,1,7,2,Computacion,1,Iphone X,1000,1

In [29]:
df.shape

(2700000, 18)

In [31]:
df.columns

Index(['id_cliente', 'nombre', 'apellido', 'fecha_de_alta', 'id_region',
       'id_venta', 'id_cliente', 'fecha_de_venta', 'id_region', 'region',
       'id_venta', 'id_producto', 'id_categoria_producto', 'nombre_categoria',
       'id_producto', 'nombre_producto', 'precio', 'id_categoria_producto'],
      dtype='object')

#### Consultas a la base de datos

Primero se eliminan las columnas id que se repiten, sirvieron de conexion en las tablas y no es necesario contar con duplicados para el análisis posterior.

*'id_cliente', 'id_venta', 'id_producto', 'id_categoria_producto', 'id_region'* son las claves que estan duplicadas y que actuaron como indices para relacionar las bases.

In [34]:
df = df.loc[:,~df.columns.duplicated()]
df.shape

(2700000, 13)

##### 1. Cantidad de ventas totales